<header class="header">
    <div class="container">
        <nav class="navbar">
            <a href="#" class="logo">
                <img src="imagens/logo-dark.png" alt="VoltUpTec Logo" class="logo-img">
            </a>
            
            <ul class="nav-menu" [class.active]="isMenuOpen">
                <li><a href="#home" (click)="closeMenu()">Início</a></li>
                <li><a href="#sobre" (click)="closeMenu()">Sobre</a></li>
                <li><a href="#solucoes" (click)="closeMenu()">Soluções</a></li>
                <li><a href="#localizacao" (click)="closeMenu()">Localização</a></li>
                <li><a href="#contato" (click)="closeMenu()">Contato</a></li>
            </ul>
            
            <div class="nav-actions">
                <a class="btn btn-primary" href="https://api.whatsapp.com/send/?phone=5511943533112&text&type=phone_number&app_absent=0"><i class="fa-regular fa-envelope"></i> Suporte 24h</a>
            </div>
            
            <button class="menu-toggle" aria-label="Abrir menu" (click)="toggleMenu()" [class.active]="isMenuOpen">
                <i class="fas fa-bars"></i>
            </button>
        </nav>
    </div>
</header>