<header class="header">
    <div class="container">
        <nav class="navbar">
            <a href="#" class="logo">
                <img src="imagens/logo-dark.png" alt="VoltUpTec Logo" class="logo-img">
            </a>
            
            <ul class="nav-menu">
                <li><a href="#home">Início</a></li>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#solucoes">Soluções</a></li>
                <li><a href="#localizacao">Localização</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
            
            <div class="nav-actions">
                <a class="btn btn-primary" href="https://api.whatsapp.com/send/?phone=5511943533112&text&type=phone_number&app_absent=0">Suporte 24h</a>
            </div>
            
            <button class="menu-toggle" aria-label="Abrir menu">
                <i class="fas fa-bars"></i>
            </button>
        </nav>
    </div>
</header>